@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>ASP</title>
    </head>
    <body>
        <h1>Entre em contato:</h1>
        <p>Email: guilherme.oliveira00621921@sesisenaipr.org.br</p>
    </body>
</html>