@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>ASP</title>
    </head>
    <body>
        <h1>Minha página!</h1>
        <a href="/Home/Contato">Contato</a>
        <a href="/Home/Endereco">Endereco</a>
        <a href="/Home/Listagem">Listagem</a>
        <a href="/Home/Contador">Contador</a>
        <a href="/Home/ZerarContador">Zerar Contador</a>
    </body>
</html>