@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>ASP</title>
    </head>
    <body>
        <h1>Minha página de iniciciciciciciciciciiciciciciciciciciciciciciiccocio!</h1>
    </body>
</html>